<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pre school app for kids.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C49B65601E7F2E1800B11734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C49B65741E7F2E1900B11734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C49B657F1E7F2E1900B11734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
